<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vinyl Collectors</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>

<body>
  <header>
    <h1>Vinyl Collectors</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/use">Users</a>
      <a href="/rec">Records</a>
      <a href="/addrec">Add a Record to Your Collection</a>
      <a href="/post">Posts</a>
      <a href="/login">Login</a>
      <button id="logout" class="btn">Logout</button>
      {{!-- {{#if loggedIn}} --}}
      {{!-- {{else}} --}}
      {{!-- {{/if}} --}}
    </nav>
  </header>
  <main>
    <aside>
      <h2></h2>
    </aside>
    <div class="Replace with new name">
      {{{body}}}
    </div>
  </main>
  <footer>
    Vinyl Collectors 2022
  </footer>
  {{!-- {{#if loggedIn}} --}}
  <script src="/assets/js/logout.js"></script>
  {{!-- {{/if}} --}}
</body>
</html>