<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vinyl Collectors</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Welcome to Vinyl Collectors</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    <aside>
      <h2></h2>
    </aside>
    <div class="Replace with new name">
      {{{body}}}
    </div>
  </main>
  <footer>
    Vinyl Collectors
  </footer>
  {{#if loggedIn}}
  <script src="replace with correct file"></script>
  {{/if}}
</body>

