<form class="new-record-form">
    <div>
        <label for="record-title">Record Title</label>
        <input type="text" id="record-title" name="record-title">
    </div>

    <div>
        <label for="record-artist">Artist</label>
        <input type="text" id="record-artist" name="record-artist">
    </div>

    <button type="submit" class="add-record">Add Record to Your Collection</button>
</form>

<script src="/assets/js/add-record.js"></script>