<section class="single-post">
<div>{{post.title}}</div>
{{!-- <div>{{post.post_url}}</div> --}}
<a href="{{post.post_url}}" target="_blank">View Link</a>
<div>Comments: </div>
{{#each post.comments}}

<div>{{comment_text}}</div>
{{/each}}
</section>

<form class="comment-form">
    <div>Add a Comment:</div>
    <div>
        <textarea name="comment-text"></textarea>
    </div>
    <div>
        <button type="submit">comment</button>
    </div>
</form>

<script src="/assets/js/comment.js"></script>