<h3>Let's Chat</h3>
<div id="single-post">
<section class="single-post">
<div id="post-title">{{post.title}}</div>

<a href="{{post.post_url}}" target="_blank">View Link</a>
<div id="comment-section">
<h4> Comments: </h4>
{{#each post.comments}}

<div id="comment-text">"{{comment_text}}" -  {{user.username}}</div>
{{/each}}
</div>
</section>

<form class="comment-form">
    <div>Add a Comment:</div>
    <div>
        <textarea name="comment-text"></textarea>
    </div>
    <div>
        <button class="btn" type="submit"> Comment </button>
    </div>
</form>

</div>

<script src="/assets/js/comment.js"></script>