<ol>
  {{#each users}}
  <li>
    <article class="post">
      <div class="title">
      
      </div>
      <div>Username: {{username}}</div>
      <div>Record Collection {{records.title}} </div>
      <div><a href="mailto:{{email}}">Inquire About This Collection</a></div>
      <div class="meta">
      </div>
    </article>
  </li>
  {{/each}}
</ol>

