<h3>Users</h3>

<div id="recordlist">

<div id="user-record">
  {{#each users}}
  
    <article class="user-post">
      <div class="title"></div>
      <div id="user-id">{{username}}'s Record Collection</div>
    
      {{#each records}}
      <li>{{title}} - {{artist}}</li>
      {{/each}}
      <div><a href="mailto:{{user.email}}">Inquire About This Collection</a></div>
      <div class="meta"></div>
    </article>
 
  {{/each}}
  </div>

</div>
</div>


{{!-- testing --}}
